.nav__list{
    @include list;
    display: flex;
}
.nav__list-link{
    text-decoration: none;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.nav__list-link:hover{
    color: #FCB72B;
}
.nav__list-item:nth-child(2){
    margin: 0 32px;
}
.nav__list-item:nth-child(1){
    margin-left: 58px;
}
@media only screen and (max-width:768px) {
   .nav__list{
    flex-direction: column;
   }
   .nav__list-item{
    margin: 0;
    text-align: center;
    &:nth-child(1){
        margin: 0;
        margin-top: 41px;
        
    }
    &:nth-child(2){
        margin: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
   }
}


